@charset "utf-8";

// COLOR
$color-white: #fff;
$color-black: #535353;
$color-green: #11a475;
$color-darken-green: #0f855f;
$color-gray: #b8b8b8;
$color-lighten-gray: #e5e5e5;
$color-yellow: #f5d70f;

// FONT-WEIGHT
$fw-ultra-light: 200;
$fw-light: 300;
$fw-bold: 700;

// ANIMATION
$transition: 0.3s;
