@charset "utf-8";
@import "./variables.scss";
@import "./font.scss";

html,
body {
  font-family: "NanumBarunGothic", sans-serif;
  color: $color-black;
}

html,
body,
ul,
ol,
p,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
  font-family: "NanumBarunGothic", sans-serif;
}

input {
  border: none;
  outline: none;
  background-color: transparent;
}

fieldset {
  border: none;
}

legend {
  display: none;
}
