@charset "utf-8";

.lnb {
  width: 100%;
  background-color: $color-darkest-gray;
  opacity: 0.9;
  position: absolute;
  top: 80px;
  display: flex;
  justify-content: center;
  height: 0;
  overflow: hidden;
  transition: $transition;

  &.active {
    height: 290px;
  }

  .inner {
    display: flex;

    ul {
      width: 175px;
      padding: 30px 15px 15px;
      border-right: 1px solid $color-darken-gray;
      &:first-child {
        border-left: 1px solid $color-darken-gray;
      }

      li.title {
        color: $color-white;
        font-size: 17px;
        margin-bottom: 15px;
      }
      li {
        color: $color-lighten-gray;
        font-size: 14px;
        margin-bottom: 10px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
