@charset "utf-8";

header {
  width: 95%;
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  background-color: tomato;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;

  .logo {
    padding-left: 40px;
  }
}
